<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../dist/css/amazeui.min.css">
    <link rel="stylesheet" href="../dist/css/app.css">
</head>
<body>
    <div class="container">
        <div id="footer">
            <div class="footer-link">
                <ul>
                    <li><a href="#">58同城58同城58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                    <li><a href="#">58同城</a></li>
                </ul>
            </div>
            <div class="footer-content am-g">
                <div class="am-u-sm-6">
                    <div class="am-u-sm-4">
                        <div class="title">关于我们</div>
                        <p><a href="#">企业文化</a></p>
                        <p><a href="#">招贤纳士</a></p>
                        <p><a href="#">联系我们</a></p>
                        <p><a href="#">公司介绍</a></p>
                    </div>
                    <div class="am-u-sm-4">
                        <div class="title">服务项目</div>
                        <p><a href="#">租赁招商</a></p>
                        <p><a href="#">广告服务</a></p>
                    </div>
                    <div class="am-u-sm-4">
                        <div class="title">商业合作</div>
                        <p><a href="#">大客户转店</a></p>
                        <p><a href="#">房产中介</a></p>
                    </div>
                </div>
                <div class="fg-line"></div>
                <div class="am-u-sm-6">
                    <div class="am-u-sm-6">
                        <div class="title">统一服务热线</div>
                        <p>客户服务:0516-85603100</p>
                        <p>广告投放:18052156111</p>
                        <p>投诉电话:18052155430</p>
                    </div>
                    <div class="am-u-sm-6">
                        <div class="title">微信公众号</div>
                        <div>
                            <img src="../dist/images/wxcode.jpg" alt="">
                        </div>                        
                    </div>
                </div>
            </div>
            <footer data-am-widget="footer" class="am-footer">
                <div class="am-footer-switch">
                    <a href="javascript:">关于我们</a>
                    <span class="am-footer-divider"> | </span>
                    <a href="javascript:">广告服务</a>
                    <span class="am-footer-divider"> | </span>
                    <a href="javascript:">企业服务</a>
                    <span class="am-footer-divider"> | </span>
                    <a href="javascript:">会员中心</a>
                </div>
                <div class="am-footer-miscs ">
                    <p>由 <a href="http://www.zhufangw.com/" title="诺亚方舟" target="_blank" class="">租房网</a>
                        提供技术支持
                    </p>
                    <p>CopyRight©2014  AllMobilize Inc.</p>
                    <div>
                        <p>京ICP备13033158</p>
                    </div>                    
                </div>
            </footer>
        </div>
    </div>

    <script src="../dist/js/jquery-2.2.4.min.js"></script>
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="../dist/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="../dist/js/amazeui.min.js"></script>
</body>
</html>