<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../dist/css/amazeui.min.css">
    <link rel="stylesheet" href="../dist/css/app.css">
</head>
<body>
    <div class="container">
        <div id="header">
            <div class="header-top am-cf">
                <div class="am-fl">                
                    <img src="../dist/images/location.jpg" class="location-icon" alt=""/>
                    <span>
                        <b>徐州</b> 
                        <div class="am-dropdown" data-am-dropdown>
                            <a href="javascritp:;" class="am-dropdown-toggle" data-am-dropdown-toggle>[切换]</a>
                            <ul class="am-dropdown-content">
                                <li class="am-active"><a href="#">徐州</a></li>
                                <li><a href="#">广州</a></li>
                            </ul>
                        </div>
                        欢迎来到租房网，请
                        <a href="login.html">登录</a>
                        或
                        <a href="login.html">注册</a>
                        ，享受我们便捷的转店找店服务吧！
                    </span>
                </div>
                <div class="am-fr">
                    <span class="tel">广告投放热线：0516-12345678</span>
                </div>
            </div>
            <div class="header-ad">
                <img src="http://www.huopuwang.com/images/adv1.jpg" alt="广告">
            </div>
            <div class="nav-bar">
                <ul class="nav am-nav am-nav-pills">
                    <li class="am-active"><a href="#">首页</a></li>
                    <li><a href="#">出租出售</a></li>
                    <li><a href="#">会员中心</a></li>
                </ul>
            </div>
        </div>        
    </div>

    <script src="../dist/js/jquery-2.2.4.min.js"></script>
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="../dist/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="../dist/js/amazeui.min.js"></script>
</body>
</html>
